In [2]:
import pandas as pd
import os
from pathlib import Path
"""Libreias.

Importamos librerias para la exploracion de los datos
-pandas, para el tratamientos de los datos
-os, para el manejo sitrma operativo
-pathlib, para el manejo de rutas
"""

'Libreias.\n\nImportamos librerias para la exploracion de los datos\n-pandas, para el tratamientos de los datos\n-os, para el manejo sitrma operativo\n-pathlib, para el manejo de rutas\n'

In [3]:
# leemos e importamos a un DF el archivo fuents .csv

root = Path('.').resolve()
filename = "df_challenge_meli_base.csv"
pr = os.path.join(root,'src','data','raw',filename)

In [4]:
#Leemos el archivo en un DF

DF = pd.read_csv(pr,delimiter=',', encoding='Latin-1')
DF.head(5)

,tim_day,seller_nickname,titulo,seller_reputation,stock,logistic_type,condition,is_refurbished,price,regular_price,categoria,url,category_id,category_name
0,2024-08-01,5a39342818,Gel Cerave Limpiador Espumoso Piel Normal A Gr...,green_platinum,16155,FBM,new,False,260.93,355.00,BEAUTY PERSONAL CARE,https://articulo.mercadolibre.com.mx/MLM-17883...,BEAUTY PERSONAL CARE,CUIDADO PERSONAL Y BELLEZA
1,2024-08-01,5a39342818,Kit Garnier Express Aclara Serum +crema +gel C...,green_platinum,6253,FBM,new,False,344.26,NaN,BEAUTY PERSONAL CARE,https://articulo.mercadolibre.com.mx/MLM-31259...,BEAUTY PERSONAL CARE,CUIDADO PERSONAL Y BELLEZA
2,2024-08-01,66d9659692,3 Piezas De Minoxidil 5% Anacastel,green_platinum,10066,FBM,new,False,363.00,660.00,HAIR,https://articulo.mercadolibre.com.mx/MLM-19360...,HAIR,CUIDADO DEL CABELLO
3,2024-08-01,5a39342818,Limpiador Cerave Control Imperfecciones Para P...,green_platinum,19678,FBM,new,False,241.00,410.00,BEAUTY PERSONAL CARE,https://articulo.mercadolibre.com.mx/MLM-18485...,BEAUTY PERSONAL CARE,CUIDADO PERSONAL Y BELLEZA
4,2024-08-01,5a39342818,Labial Líquido Maybelline Super Stay Matte Ink...,green_platinum,4862,FBM,new,False,133.47,152.49,FRAGRANCES & MAKE UP,https://articulo.mercadolibre.com.mx/MLM-15825...,FRAGRANCES & MAKE UP,FRAGANCIAS Y MAQUILLAJE

In [5]:
#Leemos desde
DF['tim_day'].value_counts()

tim_day
2024-08-01    185250
Name: count, dtype: int64

In [6]:
#Exploramos los tipos de datos, para saber las variable con datos nulos
print(DF.columns)
print(DF.info())

Index(['tim_day', 'seller_nickname', 'titulo', 'seller_reputation', 'stock',
       'logistic_type', 'condition', 'is_refurbished', 'price',
       'regular_price', 'categoria', 'url', 'category_id', 'category_name'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185250 entries, 0 to 185249
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   tim_day            185250 non-null  object
 1   seller_nickname    185250 non-null  object
 2   titulo             185250 non-null  object
 3   seller_reputation  182878 non-null  object
 4   stock              185250 non-null  int64
 5   logistic_type      185250 non-null  object
 6   condition          185250 non-null  object
 7   is_refurbished     185250 non-null  bool
 8   price              183734 non-null  float64
 9   regular_price      49956 non-null   float64
 10  categoria          185250 non-null  object
 11  url                185250 non-null  object
 12  category_id        185250 non-null  object
 13  category_name      185250 non-null  object
dtypes: bool(1), float64(2), int64(1), object(10)
memory usage: 18.6+ MB
None

In [7]:
datos = [DF.iloc[0,x] for x in range(0,13)]
datos

['2024-08-01',
 '5a39342818',
 'Gel Cerave Limpiador Espumoso Piel Normal A Grasa Sin Perfume De 473 Ml',
 'green_platinum',
 16155,
 'FBM',
 'new',
 False,
 260.93,
 355.0,
 'BEAUTY PERSONAL CARE',
 'https://articulo.mercadolibre.com.mx/MLM-1788372545-gel-cerave-limpiador-espumoso-piel-normal-a-grasa-sin-perfume-de-473-ml-_JM',
 'BEAUTY PERSONAL CARE']

In [8]:
DF["seller_reputation"].value_counts()

seller_reputation
green_platinum    69625
green             33838
green_gold        28332
green_silver      24731
newbie             9221
yellow             7245
red                4219
light_green        3101
orange             2566
Name: count, dtype: int64

In [9]:
DF["logistic_type"].value_counts()

logistic_type
XD      116763
FBM      31483
DS       24645
Otro     10541
FLEX      1818
Name: count, dtype: int64

In [10]:
DF["categoria"].value_counts()

categoria
SPORTS                                 14252
HEALTH                                 12587
BOOKS, MULTIMEDIA & OTHER E!           10355
TOYS AND GAMES                         10251
ACC CARS & VANS                        10128
OTHER                                   7797
HOUSEHOLD APPLIANCES                    7090
ANTIQUES & HOBBIES                      6453
HOUSEHOLD ITEMS                         5569
APPAREL ACCESSORIES                     5423
AUDIO & GENERAL ELECTRONICS             5373
APPAREL                                 5356
FRAGRANCES & MAKE UP                    5203
SMARTPHONES & TABLETS                   5197
PET                                     4926
TOOLS                                   4535
IT PERIPHERALS, PARTS & ACCESSORIES     4150
BEAUTY PERSONAL CARE                    4129
FOODS                                   3923
MUSICAL INSTRUMENTS                     3895
FOOTWEAR                                3473
PARTY                                   2881
FURNITURE                               2807
DECOR                                   2602
STATIONERY                              2593
TEXTILES                                2296
INDUSTRY                                2245
ACC MOTORCYCLES                         2234
CONSTRUCTION                            2221
BEAUTY PROFESSIONAL                     2153
CPG PERSONAL CARE                       2152
CPG HOME CARE                           2114
GAMING                                  2051
HAIR                                    1815
TELEVISIONS & STREAMING DEVICES         1786
EROTIC                                  1637
WEARABLES                               1428
DRINKS                                  1147
BABY                                    1123
HOME OUTDOORS                           1062
LIGHTING                                 968
MANICURE & PEDICURE                      964
CAMERAS & DRONES                         823
HABERDASHERY                             678
SECURITY                                 620
ACC VEHICULAR MULTIMEDIA                 613
COMPUTERS & NOTEBOOKS                    600
ACC TIRES                                570
OILS & FILTERS                           307
MATTRESSES & SOMMIER                     297
ACC TOOLS                                237
ACC COMMERCIAL VEHICLES                  114
ACC AGRO VEHICLES & EQUIPMENT             28
ACC NAUTICAL VEHICLES                     19
Name: count, dtype: int64

In [11]:
DF["categoria"].unique().size

54

In [12]:
DF["category_id"].value_counts()

category_id
SPORTS                                 14252
HEALTH                                 12587
BOOKS, MULTIMEDIA & OTHER E!           10355
TOYS AND GAMES                         10251
ACC CARS & VANS                        10128
OTHER                                   7797
HOUSEHOLD APPLIANCES                    7090
ANTIQUES & HOBBIES                      6453
HOUSEHOLD ITEMS                         5569
APPAREL ACCESSORIES                     5423
AUDIO & GENERAL ELECTRONICS             5373
APPAREL                                 5356
FRAGRANCES & MAKE UP                    5203
SMARTPHONES & TABLETS                   5197
PET                                     4926
TOOLS                                   4535
IT PERIPHERALS, PARTS & ACCESSORIES     4150
BEAUTY PERSONAL CARE                    4129
FOODS                                   3923
MUSICAL INSTRUMENTS                     3895
FOOTWEAR                                3473
PARTY                                   2881
FURNITURE                               2807
DECOR                                   2602
STATIONERY                              2593
TEXTILES                                2296
INDUSTRY                                2245
ACC MOTORCYCLES                         2234
CONSTRUCTION                            2221
BEAUTY PROFESSIONAL                     2153
CPG PERSONAL CARE                       2152
CPG HOME CARE                           2114
GAMING                                  2051
HAIR                                    1815
TELEVISIONS & STREAMING DEVICES         1786
EROTIC                                  1637
WEARABLES                               1428
DRINKS                                  1147
BABY                                    1123
HOME OUTDOORS                           1062
LIGHTING                                 968
MANICURE & PEDICURE                      964
CAMERAS & DRONES                         823
HABERDASHERY                             678
SECURITY                                 620
ACC VEHICULAR MULTIMEDIA                 613
COMPUTERS & NOTEBOOKS                    600
ACC TIRES                                570
OILS & FILTERS                           307
MATTRESSES & SOMMIER                     297
ACC TOOLS                                237
ACC COMMERCIAL VEHICLES                  114
ACC AGRO VEHICLES & EQUIPMENT             28
ACC NAUTICAL VEHICLES                     19
Name: count, dtype: int64

In [13]:
DF["category_id"].unique().size

54

In [14]:
DF["category_name"].value_counts()

category_name
DEPORTES                                   14252
SALUD                                      12587
LIBROS, MULTIMEDIA Y OTROS                 10355
JUGUETES Y JUEGOS                          10251
ACCESORIOS PARA AUTOS Y CAMIONETAS         10128
OTROS                                       7797
ELECTRODOMÉSTICOS                           7090
ANTIGÜEDADES Y PASATIEMPOS                  6453
ARTÍCULOS DEL HOGAR                         5569
ACCESORIOS DE VESTIR                        5423
AUDIO Y ELECTRÓNICA GENERAL                 5373
ROPA                                        5356
FRAGANCIAS Y MAQUILLAJE                     5203
TELÉFONOS INTELIGENTES Y TABLETAS           5197
MASCOTAS                                    4926
HERRAMIENTAS                                4535
PERIFÉRICOS Y ACCESORIOS DE INFORMÁTICA     4150
CUIDADO PERSONAL Y BELLEZA                  4129
ALIMENTOS                                   3923
INSTRUMENTOS MUSICALES                      3895
CALZADO                                     3473
FIESTAS                                     2881
MUEBLES                                     2807
DECORACIÓN                                  2602
PAPELERÍA                                   2593
TEXTILES                                    2296
INDUSTRIA                                   2245
ACCESORIOS PARA MOTOCICLETAS                2234
CONSTRUCCIÓN                                2221
BELLEZA PROFESIONAL                         2153
PRODUCTOS DE CUIDADO PERSONAL               2152
PRODUCTOS DE LIMPIEZA DEL HOGAR             2114
VIDEOJUEGOS                                 2051
CUIDADO DEL CABELLO                         1815
TELEVISORES Y DISPOSITIVOS DE STREAMING     1786
PRODUCTOS ERÓTICOS                          1637
DISPOSITIVOS WEARABLE                       1428
BEBIDAS                                     1147
BEBÉS                                       1123
EXTERIORES DEL HOGAR                        1062
ILUMINACIÓN                                  968
MANICURA Y PEDICURA                          964
CÁMARAS Y DRONES                             823
MERCERÍA                                     678
SEGURIDAD                                    620
ACCESORIOS DE MULTIMEDIA VEHICULAR           613
COMPUTADORAS Y PORTÁTILES                    600
LLANTAS Y ACCESORIOS                         570
ACEITES Y FILTROS                            307
COLCHONES Y SOMIERES                         297
HERRAMIENTAS PARA VEHÍCULOS                  237
ACCESORIOS PARA VEHÍCULOS COMERCIALES        114
ACCESORIOS Y EQUIPO AGRÍCOLA                  28
ACCESORIOS NÁUTICOS                           19
Name: count, dtype: int64

In [15]:
DF["category_name"].unique().size

54

In [16]:
DF["condition"].value_counts()

condition
new              169616
used              15551
not_specified        83
Name: count, dtype: int64

In [17]:
DF["is_refurbished"].value_counts()

is_refurbished
False    184515
True        735
Name: count, dtype: int64

In [18]:
# por las caracteristicas de las variables dadas tomaremos las siguientes variables como importantes
# 'seller_nickname','seller_reputation', 'stock','logistic_type', 'condition', 'is_refurbished', 'price', 'regular_price'

#nuevo DF
columns = ['seller_nickname','seller_reputation', 'stock','logistic_type', 'condition', 'is_refurbished', 'price', 'regular_price']
dfv2 = DF[columns]
dfv2.head(5)

,seller_nickname,seller_reputation,stock,logistic_type,condition,is_refurbished,price,regular_price
0,5a39342818,green_platinum,16155,FBM,new,False,260.93,355.00
1,5a39342818,green_platinum,6253,FBM,new,False,344.26,NaN
2,66d9659692,green_platinum,10066,FBM,new,False,363.00,660.00
3,5a39342818,green_platinum,19678,FBM,new,False,241.00,410.00
4,5a39342818,green_platinum,4862,FBM,new,False,133.47,152.49

In [19]:
#desde el inicio sabemos que los precios dados tienen valores nulos, verifico si los nulls de la variable price tienen un valor no nulo en la variable regular_price
#para eso creamos otro DF solo con las variables null de price que es la variable tipo price que tiene mas valores no nulls
df_null=dfv2[dfv2["price"].isnull()]
df_null

,seller_nickname,seller_reputation,stock,logistic_type,condition,is_refurbished,price,regular_price
12370,ff130f47bc,newbie,5,DS,new,False,NaN,NaN
12378,a65d7813d5,newbie,10,DS,new,False,NaN,NaN
12390,cbef895c34,newbie,100,DS,new,False,NaN,NaN
12402,253d98d8fd,newbie,200,DS,new,False,NaN,NaN
12421,cd669ca4e6,newbie,50,DS,new,False,NaN,NaN
...,...,...,...,...,...,...,...,...
180371,7bb2482c22,green_gold,1,XD,used,False,NaN,NaN
182262,aab6cec86c,green_silver,10,XD,new,False,NaN,NaN
183382,967947183a,green_gold,200,DS,new,False,NaN,NaN
185095,f41f176eef,newbie,3,DS,new,False,NaN,NaN
185159,f63aab689c,newbie,5,Otro,new,False,NaN,NaN

In [20]:
#del df_null se revisa cual de los price tiene un valor nonull in regular_price
df_null2=df_null[df_null['regular_price'].isnull()]
df_null2

,seller_nickname,seller_reputation,stock,logistic_type,condition,is_refurbished,price,regular_price
12370,ff130f47bc,newbie,5,DS,new,False,NaN,NaN
12378,a65d7813d5,newbie,10,DS,new,False,NaN,NaN
12390,cbef895c34,newbie,100,DS,new,False,NaN,NaN
12402,253d98d8fd,newbie,200,DS,new,False,NaN,NaN
12421,cd669ca4e6,newbie,50,DS,new,False,NaN,NaN
...,...,...,...,...,...,...,...,...
180371,7bb2482c22,green_gold,1,XD,used,False,NaN,NaN
182262,aab6cec86c,green_silver,10,XD,new,False,NaN,NaN
183382,967947183a,green_gold,200,DS,new,False,NaN,NaN
185095,f41f176eef,newbie,3,DS,new,False,NaN,NaN
185159,f63aab689c,newbie,5,Otro,new,False,NaN,NaN

In [ ]:
#se pudo observar que los precios nonull en ambas variables tienen la misma cantidad de no nulls, sabiendo esto, creo un df con los indices y los comparare si son iguales
#con el de verificar que sean lo mismo registros

df_comp=pd.DataFrame(df_null.index.values,df_null2.index.values).reset_index()
col=df_comp.columns
df_comp.rename(columns={'index':'p_null',0:'rp_null'},inplace=True)
print(df_comp.info())
df_comp[df_comp['p_null']!=df_comp['rp_null']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516 entries, 0 to 1515
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   p_null   1516 non-null   int64
 1   rp_null  1516 non-null   int64
dtypes: int64(2)
memory usage: 23.8 KB
None

Empty DataFrame
Columns: [p_null, rp_null]
Index: []

In [22]:
df_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516 entries, 0 to 1515
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   p_null   1516 non-null   int64
 1   rp_null  1516 non-null   int64
dtypes: int64(2)
memory usage: 23.8 KB

In [ ]:
#teniendo ya esta validacion, eliminaremos estos datos para que no interfieran en el modelado, ya que solo representa aprox el 1% de todos los datos
dfv3=dfv2[dfv2['price']>0].reset_index()
dfv3.drop('regular_price',axis=1,inplace=True)
dfv3

,index,seller_nickname,seller_reputation,stock,logistic_type,condition,is_refurbished,price
0,0,5a39342818,green_platinum,16155,FBM,new,False,260.93
1,1,5a39342818,green_platinum,6253,FBM,new,False,344.26
2,2,66d9659692,green_platinum,10066,FBM,new,False,363.00
3,3,5a39342818,green_platinum,19678,FBM,new,False,241.00
4,4,5a39342818,green_platinum,4862,FBM,new,False,133.47
...,...,...,...,...,...,...,...,...
183727,185245,857d559845,green_gold,2,XD,new,False,9590.00
183728,185246,3b3dd23120,green_platinum,173,XD,new,False,2353.00
183729,185247,c6db332281,green_gold,1,XD,new,False,2895.00
183730,185248,af958de9cc,yellow,0,XD,new,False,540.00
183731,185249,bd8dd2ff24,green,10,XD,new,False,599.00